body {
    margin-top: 70px;
    background: #011136;
    color: #fff;
}

.col-md-6 {
    padding: 40px 0;
}

h1 {
    margin-bottom: 100px;
    text-align: center;
    font-size: 40px;
}

.card-primary {
    background: rgba(73, 155, 234, 1);
    background: -moz-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(14, 58, 105, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73, 155, 234, 1)), color-stop(100%, rgba(14, 58, 105, 1)));
    background: -webkit-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(14, 58, 105, 1) 100%);
    background: -o-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(14, 58, 105, 1) 100%);
    background: -ms-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(14, 58, 105, 1) 100%);
    background: linear-gradient(to bottom, rgba(73, 155, 234, 1) 0%, rgba(14, 58, 105, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#0e3a69', GradientType=0);
    border-color: rgba(255, 255, 255, 0.00);
}

.card-success {
    background: rgba(243, 226, 199, 1);
    background: -moz-linear-gradient(top, rgba(243, 226, 199, 1) 0%, rgba(209, 189, 159, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243, 226, 199, 1)), color-stop(100%, rgba(209, 189, 159, 1)));
    background: -webkit-linear-gradient(top, rgba(243, 226, 199, 1) 0%, rgba(209, 189, 159, 1) 100%);
    background: -o-linear-gradient(top, rgba(243, 226, 199, 1) 0%, rgba(209, 189, 159, 1) 100%);
    background: -ms-linear-gradient(top, rgba(243, 226, 199, 1) 0%, rgba(209, 189, 159, 1) 100%);
    background: linear-gradient(to bottom, rgba(243, 226, 199, 1) 0%, rgba(209, 189, 159, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#d1bd9f', GradientType=0);
    border-color: rgba(255, 255, 255, 0.00);
}

.card-danger {
    border-color: rgba(255, 255, 255, 0.00);

    background: rgba(196, 239, 255, 1);
    background: -moz-linear-gradient(top, rgba(196, 239, 255, 1) 0%, rgba(0, 196, 255, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(196, 239, 255, 1)), color-stop(100%, rgba(0, 196, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(196, 239, 255, 1) 0%, rgba(0, 196, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(196, 239, 255, 1) 0%, rgba(0, 196, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(196, 239, 255, 1) 0%, rgba(0, 196, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(196, 239, 255, 1) 0%, rgba(0, 196, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4efff', endColorstr='#00c4ff', GradientType=0);
}


@media(max-width:767px){
    
    .colm{
        margin-bottom: 100px;
    }
    
}